[Desktop Entry]
Name=Emacsclient
GenericName=Text Editor
Comment=Edit text with Emacs client
Exec=emacsclient -c -a "" %F
Icon=emacs
Terminal=false
Type=Application
Categories=Development;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-python;application/x-shellscript;
Keywords=Text;Editor;Emacs;e;em;
StartupNotify=false
